.ProfileCard {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 16px;
  width: 400px;
  height: 450px;
  justify-content: start;
  align-items: center;
 
}


.HeaderImage {
  width: 400px;
display: block;
border-radius:10px 10px 0 0;
}

.ProfileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: .7rem;
}

.ProfilePic {

  border-radius: 80px;
  position: absolute;
 
  left: 50%;
  transform: translate( -50%, -50% );
  border: 6px solid #FFFFFF;
  margin-bottom: 150px;
  
}

.ProfileNameLocation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
 
  position: relative;

  
  

}
.ProfileName {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;

}

.location {
  color: #4f4f4f;
  font-weight: 200;
  padding: 15px;
  
}

.collectall {
  border-top: 1px solid  hsla(0, 0%, 59%, 30%);
  display: flex;
  justify-content: space-around;
  width: 400px;
padding-top: 12px;
}